<form method = "post">
        <div>name : <input name="name" value="<%= inventory.name %>" /></div>
        <div>qty : <input name="qty" value="<%= inventory.qty %>" /></div>
        <div>amount : <input name="amount" value="<%= inventory.amount %>" /></div>
        <button>save</button>
        <input type="hidden" value="<%= inventory.id %>" />
</form>